body {
    color: #000;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    font-size: 3rem;
    min-width: 80rem;
    background: #fff0f0;
}

:choice-container:hover {
    cursor: pointer;
    box-shadow: #ffd2d2; 
    transform: scale (1.02);
    transform: transform 100ms;
}

choice-prefix {
    padding: 2rem 2.5rem;
    color: #000;
}

choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background : linear-gradient(32deg, rgb(172, 210, 177) 0%, rgb(149, 226, 178) 100%)
}

.incorrect {
    background: linear-gradient(32deg, rgb(233, 177, 177) 0%, rgb(231, 170, 170) 100%)
}

/* progress bar */
#progress {
    display: flex;
    justify-content: space-between;
}

.progress-prefix {
    text-align: center;
    font-size: 2rem;
}

.progress-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(233, 177, 177);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(233, 177, 177);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container{
        min-width: 40rem;
    }
}

