* {
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    font-size: 62.5%;  
}

h1 {
    font-size: 4rem;
    color: #000;
    margin-bottom: 3rem;
}

h2 {
    font-size: 10rem;
    margin-bottom: 4rem;
    color: #000;
}

h3 {
    font-size: 3rem;
    list-style: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.hidden {
    display: none;    
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-decoration: none;
    margin-bottom: 1rem;
    color: #000;  
    text-align: center;
    border-radius: 4px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgb(238,174,202,1) 0%, rgb(148,187,233,1) 100%);
}


.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #96c3eb;
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 #ffd2d2;
}
   
.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    font-size: 4rem;
}

.input { 
    margin-bottom: 5rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.4rem 1.4rem 0 #d1e9ff;
}

input::placeholder {
    color: #a7a7a7
}

#initials {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color:#000;
    text-align: center;
}

#saveScoreBtn {
    border: none;
}

